# Application
APP_PORT=8080
APP_ENV=development

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=ton_mot_de_passe
DB_NAME=openspace
DB_SSLMODE=disable

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# JWT — CHANGE EN PRODUCTION
JWT_ACCESS_SECRET=openspace_access_secret_change_me
JWT_REFRESH_SECRET=openspace_refresh_secret_change_me
JWT_ACCESS_EXPIRY=15
JWT_REFRESH_EXPIRY=168
